---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: wazuh
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: wazuh-secret
    template:
      engineVersion: v2
      data:
        # Indexer credentials
        INDEXER_USERNAME: "admin"
        INDEXER_PASSWORD: "{{ .WAZUH_INDEXER_PASSWORD }}"
        # API credentials
        API_USERNAME: "wazuh-wui"
        API_PASSWORD: "{{ .WAZUH_API_PASSWORD }}"
        # Dashboard credentials  
        DASHBOARD_USERNAME: "kibanaserver"
        DASHBOARD_PASSWORD: "{{ .WAZUH_DASHBOARD_PASSWORD }}"
  dataFrom:
    - find:
        name:
          regexp: ^WAZUH.*
