---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security
resources:
  - ./namespace.yaml
  - ./externalsecret.yaml       # Pulls passwords from Infisical
  - ./certificates.yaml         # CA and component certificates via cert-manager
  - ./wazuh-repo.yaml           # ConfigMaps
  - ./wazuh-indexer.yaml
  - ./wazuh-manager.yaml
  - ./wazuh-dashboard.yaml
