# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app posterizarr # redeploy
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      posterizarr:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: docker.io/mikefarah/yq
              tag: 4.52.1@sha256:c0f7a8a84f1dbfb7a19530683788dde8fc41227c7a2446a9d89d1e7eb9bad0a5
            command:
              - "/bin/sh"
            args:
              - "/app/config-file/init-config.sh"
            envFrom:
            - secretRef:
                name: posterizarr-secret
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 128Mi
        containers:
          app:
            image:
              repository: ghcr.io/fscorrupt/posterizarr
              tag: 2.2.25@sha256:de36a00a7958f465081acd9c8e8321073b7aab233921493ea12310fc7346dae4
            env:
              TZ: ${TIME_ZONE}
            resources:
              requests:
                cpu: 100m
                memory: 4096M
              limits:
                memory: 8192M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                - ALL
    service:
      app:
        controller: posterizarr
        ports:
          http:
            port: &port 8000
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN_MEDIA}"
          authentik.home.arpa/internal: "true"
          nginx.ingress.kubernetes.io/auth-signin: "https://posterizarr.${SECRET_DOMAIN_MEDIA}/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri"
        className: internal
        hosts:
          - host: &host "posterizarr.${SECRET_DOMAIN_MEDIA}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_DOMAIN_MEDIA/./-}-tls
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 150
        fsGroup: 150
        supplementalGroups:
          - 140
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: *app
      posterizarr-watcher:
        existingClaim: posterizarr-watcher
        globalMounts:
          - path: /watcher
      config-file:
        type: configMap
        defaultMode: 511
        name: posterizarr-configmap
        globalMounts:
          - path: /app/config-file
      assets:
        existingClaim: plex-posters-cephfs
        globalMounts:
          - path: /assets
