---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./pvc.yaml
  - ./prometheusrule.yaml
  - ./migrate-job-parallel.yaml
  - ./migrate-configmap.yaml
