---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rook-ceph
components:
  - ../../flux/components/common
  - ../../flux/components/common/privileged-namespace
resources:
  - ./rook-ceph-operator/ks.yaml
  - ./rook-ceph-cluster/ks.yaml
