---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dcgm-exporter
  namespace: observability
spec:
  dependsOn:
    - name: nvidia-device-plugin
      namespace: kube-system
  interval: 30m
  chart:
    spec:
      chart: dcgm-exporter
      version: 4.7.1
      sourceRef:
        kind: HelmRepository
        name: dcgm-exporter
        namespace: flux-system

  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    resources:
      requests:
        cpu: 50m
        memory: 365Mi
      limits:
        cpu: 500m
        memory: 512Mi
    image:
      repository: nvcr.io/nvidia/k8s/dcgm-exporter
      tag: 3.1.7-3.1.4-ubuntu20.04
    extraEnv:
      - name: NVIDIA_DRIVER_CAPABILITIES
        value: all
      - name: NVIDIA_VISIBLE_DEVICES
        value: all
    nodeSelector:
      nvidia.feature.node.kubernetes.io/gpu: "true"
    runtimeClassName: nvidia
    serviceMonitor:
      interval: 15s
      honorLabels: true
    livenessProbe:
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    readinessProbe:
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
      capabilities:
        add:
          - SYS_ADMIN
