---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundtable-vault
  namespace: roundtable
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: cephfs-shared
  volumeName: roundtable-vault
