---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nats
spec:
  interval: 30m
  chart:
    spec:
      chart: nats
      version: "2.12.*"
      sourceRef:
        kind: HelmRepository
        name: nats
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    config:
      jetstream:
        enabled: true
        memoryStore:
          maxSize: 256Mi
        fileStore:
          maxSize: 1Gi
          storageDirectory: /data/jetstream
    container:
      merge:
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 512Mi
    podTemplate:
      merge:
        metadata:
          annotations:
            kyverno.io/skip-security-defaults: "true"
    natsBox:
      enabled: true
      podTemplate:
        merge:
          metadata:
            annotations:
              kyverno.io/skip-security-defaults: "true"
    persistence:
      enabled: true
      size: 2Gi
