---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kometa
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  components:
    - ../../../../flux/components/volsync/repository
    - ../../../../flux/components/volsync/operations
  dependsOn:
    - name: volsync
      namespace: storage
    - name: plex
      namespace: media
    - name: external-secrets-stores
      namespace: external-secrets
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/media/kometa/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 10m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 20Gi
      VOLSYNC_STORAGECLASS: cephfs-shared
      VOLSYNC_SNAPSHOTCLASS: cephfs-snapshot
      VOLSYNC_ACCESSMODES: ReadWriteMany
