---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wyoming-whisper
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: nvidia-device-plugin
      namespace: kube-system
  values:
    controllers:
      wyoming-whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: latest
            args:
              - --model
              - large-v3
              - --language
              - en
              - --compute-type
              - float16
              - --beam-size
              - "5"
            env:
              TZ: ${TIME_ZONE}
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
                nvidia.com/gpu: 1
              limits:
                memory: 8Gi
                nvidia.com/gpu: 1
    defaultPodOptions:
      runtimeClassName: nvidia
      nodeSelector:
        nvidia.feature.node.kubernetes.io/gpu: "true"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nvidia.feature.node.kubernetes.io/gpu
                    operator: In
                    values:
                      - "true"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 150
        fsGroup: 150
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          whisper:
            enabled: true
            primary: true
            port: 10300
            protocol: TCP
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
