---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
components:
  - ../../flux/components/common
  - ../../flux/components/common/privileged-namespace
resources:
  - ./home-assistant/ks.yaml
  - ./node-red/ks.yaml
  - ./esphome/ks.yaml
  - ./zigbee2mqtt/ks.yaml
  - ./zigbee2mqtt-garage/ks.yaml
