---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.0@sha256:12df386a1609aada0f9c19bdcb8a59db7e2c08b5a91757f7115cce8c3d502568
            envFrom: &envFrom
              - secretRef:
                  name: n8n-postgres-secret
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 2.6.1@sha256:f3214c30a15cd94eb55b3bc6400c402e38e43175f57c678bebc56091a72b73f3
            resources:
              requests:
                cpu: 1400m
                memory: 380Mi
              limits:
                cpu: 2000m
                memory: 512Mi
            env:
              GENERIC_TIMEZONE: ${TIME_ZONE}
              N8N_PORT: &port 80
              N8N_HOST: &host "n8n.${SECRET_DOMAIN}"
              WEBHOOK_URL: "https://n8n.${SECRET_DOMAIN}"
              N8N_USER_FOLDER: /config
              N8N_RUNNERS_ENABLED: true
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true

              # App Configuration
              N8N_PERSONALIZATION_ENABLED: false
              N8N_VERSION_NOTIFICATIONS_ENABLED: true
              N8N_HIRING_BANNER_ENABLED: false
              N8N_USER_MANAGEMENT_DISABLED: true
              N8N_TEMPLATES_ENABLED: false
              N8N_PROXY_HOPS: "1"

              # Community Nodes
              N8N_COMMUNITY_PACKAGES_ENABLED: true

              # Logging
              N8N_LOG_LEVEL: debug
              N8N_LOG_OUTPUT: console, file
              N8N_DIAGONISTICS_ENABLED: true
              N8N_METRICS: true
              NODE_FUNCTION_ALLOW_EXTERNAL: databricks/sql # externl packages

              # DB Related
              DB_TYPE: postgresdb
              DB_POSTGRESDB_PORT: 5432
            envFrom:
              #N8N_ENCRYPTION_KEY
              - secretRef:
                  name: n8n-secret
    serviceAccount:
      name: n8n
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: n8n
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
          authentik.home.arpa/internal: "true"
          nginx.ingress.kubernetes.io/auth-signin: "https://n8n.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri"
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_DOMAIN/./-}-tls
    persistence:
      config:
        enabled: true
        existingClaim: n8n
      cache:
        type: emptyDir
        globalMounts:
          - path: /config/.cache
      jobs:
        enabled: true
        existingClaim: n8n-jobs
        globalMounts:
          - path: /jobs
