---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai
components:
  - ../../flux/components/common
resources:
  - ./archon/ks.yaml
  # - ./open-webui/ks.yaml
  # - ./n8n/ks.yaml removed for now, need to understand the breaking changes
  # - ./ollama/ks.yaml
  # - ./litellm/ks.yaml
  # - ./wyoming-whisper/ks.yaml
