---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: cloudnative-pg
      namespace: database
  values:
    controllers:
      paperless-ngx:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.0@sha256:12df386a1609aada0f9c19bdcb8a59db7e2c08b5a91757f7115cce8c3d502568
            envFrom:
              - secretRef:
                  name: paperless-ngx-postgres-secret
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.3
            env:
              TZ: "${TIME_ZONE}"

              # Optional services
              PAPERLESS_TIKA_ENABLED: 'true'
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg.selfhosted.svc.cluster.local:3000
              PAPERLESS_TIKA_ENDPOINT: http://127.0.0.1:9998

              # Paths and folders
              PAPERLESS_CONSUMPTION_DIR: /media/consume
              PAPERLESS_DATA_DIR: /data/local
              PAPERLESS_MEDIA_ROOT: /media/paperless
              PAPERLESS_FILENAME_FORMAT: "{created_year}/{correspondent}/{title}"
              PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: 'true'

              # Logging
              PAPERLESS_LOGROTATE_MAX_BACKUPS: '20'

              # Hosting and security
              PAPERLESS_URL: "https://docs.${SECRET_DOMAIN}"

              # OCR settings
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_OCR_SKIP_ARCHIVE_FILE: with_text
              PAPERLESS_OCR_DESKEW: 'false'
              PAPERLESS_OCR_ROTATE_PAGES: 'false'

              # Software tweaks
              PAPERLESS_TASK_WORKERS: '2'
              PAPERLESS_THREADS_PER_WORKER: '2'
              PAPERLESS_TIME_ZONE: "${TIME_ZONE}"

              # Document consumption
              PAPERLESS_CONSUMER_POLLING: '30'
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: 'true'
              PAPERLESS_CONSUMER_RECURSIVE: 'true'
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: 'true'
              PAPERLESS_FILENAME_DATE_ORDER: YMD

              # Docker-specific options
              PAPERLESS_PORT: '8000'
            envFrom:
              - secretRef:
                  name: paperless-ngx-secret
          tika:
            image:
              repository: apache/tika
              tag: 3.2.3.0-full
            ports:
              - containerPort: 9998
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 150
        fsGroup: 150
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 1000
    service:
      app:
        controller: paperless-ngx
        ports:
          http:
            port: 8000
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
          authentik.home.arpa/internal: "true"
          nginx.ingress.kubernetes.io/auth-signin: "https://docs.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri"
        className: internal
        hosts:
          - host: &host docs.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_DOMAIN/./-}-tls
    persistence:
      data:
        existingClaim: paperless-ngx
        advancedMounts:
          paperless-ngx:
            app:
              - path: /data/local
      media:
        existingClaim: paperless-cephfs-pvc
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 5Gi
        globalMounts:
          - path: /tmp
