---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name:  &app kometa
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: plex
      namespace: media
    - name: volsync
      namespace: storage
  values:
    controllers:
      kometa:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "0 1 * * *" # Daily at 1 AM
          timeZone: &timeZone ${TIME_ZONE}
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        initContainers:
          git-sync:
            env:
              GITSYNC_REPO: https://github.com/dapperdivers/kometa-config/
              GITSYNC_REF: master
              GITSYNC_ROOT: /git
              GITSYNC_DEPTH: 1
              GITSYNC_ONE_TIME: "true"
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
        containers:
          app:
            image:
              repository: kometateam/kometa
              tag: nightly@sha256:245d83274f45d3309d6e411ca789cbd99306faa960373a4ee78335fce4318dd1
            command:
              - /bin/sh
              - -c
            args:
              - |
                sleep 5 && cp -r /git/kometa-config/. /config/ && \
                python3 kometa.py --read-only-config --run;
            env:
              TZ: *timeZone
              KOMETA_TAUTULLI_HOST: "http://tautulli.media:8181"
              KOMETA_PLEX_HOST: "http://plex.media.svc.cluster.local:32400"
              KOMETA_RADARR_HOST: "http://radarr.media"
              KOMETA_RADARR_ROOT_FOLDER_PATH: "/media/movies"
              KOMETA_RADARR_UHD_HOST: "http://radarr-uhd.media"
              KOMETA_RADARR_UHD_ROOT_FOLDER_PATH: "/media/movies-4k"
              KOMETA_SONARR_HOST: "http://sonarr.media"
              KOMETA_SONARR_ROOT_FOLDER_PATH: "/media/tv"
              KOMETA_SONARR_UHD_HOST: "http://sonarr-uhd.media"
              KOMETA_SONARR_UHD_ROOT_FOLDER_PATH: "/media/tv-4k"
            envFrom:
              - secretRef:
                  name: kometa-secret
            resources:
              requests:
                cpu: 4000m
                memory: 4096M
              limits:
                cpu: 6000m
                memory: 8192M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: plex
            topologyKey: kubernetes.io/hostname
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 150
        fsGroup: 150
        supplementalGroups:
          - 140
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    persistence:
      config:
        existingClaim: *app
      assets:
        existingClaim: plex-posters-cephfs
        globalMounts:
        - path: /assets
          subPath: assets
      git:
        type: emptyDir
        globalMounts:
          - path: /git
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
