---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname obsidian-couchdb
  namespace: &namespace selfhosted
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 30m
  components:
    - ../../../../flux/components/volsync/repository
    - ../../../../flux/components/volsync/operations
  path: "./kubernetes/apps/selfhosted/obsidian-couchdb/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: volsync
      namespace: storage
    - name: external-secrets-stores
      namespace: external-secrets
  retryInterval: 1m
  timeout: 10m
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CAPACITY: 10Gi
