---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: outlook-bridge-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 1Gi
