---
apiVersion: v1
kind: ConfigMap
metadata:
  name: molt-config
data:
  moltbot.json: |
    {
      "gateway": {
        "mode": "local",
        "trustedProxies": ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"],
        "controlUi": {
          "enabled": true,
          "allowInsecureAuth": true
        },
        "auth": {
          "mode": "token"
        }
      },
      "messages": {
        "ackReactionScope": "group-mentions"
      },
      "agents": {
        "defaults": {
          "maxConcurrent": 4,
          "subagents": {
            "maxConcurrent": 8
          },
          "compaction": {
            "mode": "safeguard"
          }
        }
      }
    }
