---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nut-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      nut-exporter:
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: 3.2.3
            env:
              NUT_EXPORTER_SERVER: nut-upsd.kube-system.svc.cluster.local
            args:
              - --log.level=debug
              # # the first time I set this, the first and last entries were ignored, so I have doubled them.
              - --nut.vars_enable="battery.charge,battery.charge,battery.runtime,battery.voltage,battery.voltage.nominal,input.voltage,input.voltage.nominal,ups.load,ups.status,ups.status"
              #- --nut.vars_enable="battery.charge,battery.runtime,battery.voltage,battery.voltage.nominal,input.voltage,input.voltage.nominal,ups.load,ups.status"
            resources:
              requests:
                cpu: 15m
                memory: 105Mi
              limits:
                memory: 105Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }

    defaultPodOptions:
      securityContext:
        runAsGroup: 65534
        runAsUser: 65534
        runAsNonRoot: true
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: 9199
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            interval: 60s
            scrapeTimeout: 10s
            path: /ups_metrics
            params:
              targets:
                - nut-upsd.kube-system.svc.cluster.local:3493
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: target
